
.features {
    margin-bottom: 84px;
}

.features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 247px;
    margin-right: 22px;
}

.features__item:last-child {
    margin-right: 0;
}

.features__header {
    font-size: 49px;
    color: #262424;
    font-weight: bold;
    font-family: "Montserrat";
    margin-right: 20px;
    margin-bottom: 60px;
}

.features__item-title {
    font-size: 11px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #262626;
    font-weight: bold;
    font-family: "Montserrat";
    margin-bottom: 20px;
}

.features__item-head {
    margin-bottom: 4px;
    line-height: 30px;
    font-size: 18px;
    color: #262424;
    font-family: "Montserrat";
}

.features__item-text {
    font-size: 18px;
    line-height: 30px;
    color: #262424;
    font-family: "Montserrat";
}

.features__list {
    display: flex;
    flex-direction: row;
}

.features__item-list {
    list-style:  circle;
}

.features__item-inner {
    list-style:disc;
    margin-bottom: 4px;
}

.features__item-inner:last-child{
    margin-bottom: 0px;
}

.features__item-icon {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-color: #2b2b3f;
    position: relative;
    margin-bottom: 35px;
}

.features__item-img {
    position: absolute;
    top: 20px;
    left: 20px;
}

.img__correct {
    top: 17px;
    left: 18px;
}

.features__item-head {
    text-align: center;
}