
.news {
    margin-bottom: 60px;
}

hr {
    margin-bottom: 30px;
}

.news__header {
    font-size: 49px;
    line-height: 38px;
    color: #262424;
    font-weight: bold;
    font-family: "Montserrat";
    margin-bottom: 78px;
}

.news__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.news__item:last-child {
    display: flex;
    margin-bottom: 0;
}

.news__item-background {
    margin-right: 20px;
}

.news__item-img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.news__item-date {
    font-size: 14px;
    line-height: 21px;
    color: #656464;
    font-weight: 300;
    font-family: "Roboto";
    margin-bottom: 5px;
}

.news__item-header {
    font-size: 18px;
    line-height: 21px;
    font-family: "Roboto";
    font-weight: bold;
    color: #262424;
    margin-bottom: 10px;
}

.news__item-text {
    font-size: 18px;
    line-height: 28px;
    color: #656464;
    font-weight: 300;
    font-family: "Roboto";
}