
@font-face {
    font-family: 'Open Sans';
    src: url("opensans-bold-webfont.woff2") format('woff2');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham pro';
    src: url('gothaproligita-webfont.woff2') format('woff2');
    font-weight: light;
    font-style: italic;
}


@font-face {
    font-family: 'Gotham pro';
    src: url('gothaprolig-webfont.woff2') format('woff2');
    font-weight: light;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham pro';
    src: url("gothampro-webfont.woff2") format('woff2');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham pro';
    src: url('gothampro-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}